{
  "*.{ts,tsx,js}": [
    "prettier --write --ignore-unknown --ignore-path ./.lintignore",
    "eslint --fix --ignore-path ./.lintignore"
  ],
  "*.md": ["prettier --write --ignore-path ./.lintignore"]
}
